*.pyc
*.swp
osha.policy.egg-info
.installed.cfg
bin/
develop-eggs/
downloads/
eggs/
fake-eggs/
include/
lib/
parts/
091021 Thesaurus 1.1. following TEB May 09 draft final.xls
errors.txt
new_thesaurus.xls
out.xml
100114_TT_Thesaurus parsing issues.xls
new_thesaurus2.xls
osha.log
reindex.log
.mr.developer.cfg
src/osha.adaptation/
src/osha.theme/
